<header>
    <nav class="padding">
        <ul class="navbar">
            <a href="/">
            <li class="nav__logo"><img src="../../../assets/images/Logo.svg" alt=""></li>
            </a>
            <a href="/#quienesSomos">
            <li class="nav__item">¿Quiénes somos?</li>
            </a>
            <a href="/#historia">
            <li class="nav__item">Nuestra Historia</li>

            </a>
            <a href="/#equipo">
            <li class="nav__item">Nuestro Equipo</li>

            </a>
            <a href="/#contacto">
                <li class="nav__item">Contactos</li>
            </a>
            <li class="nav__btn">
                <button class="nav__boton" routerLink="/game">Juegos</button>
            </li>
        </ul>
    </nav>
    <br>
    <div class="padding historiaSect">
        <h1 class="historia__Titulo">Nuestra historia</h1>
    <img src="../../../assets/images/lineWaves_vino.svg" alt="">
    </div>
    
</header>

<main>
    <div class="padding">
        <div class="alRit">
            <img src="../../../assets/images/img1.svg" align="left">
            <p class="histText">
                La obra social fue iniciada en 1987 por la hermana dominica Isabel Galarza,
                el párroco Francisco Hervás y Thekla Amen . A fines de 2006, se fundó la
                Fundación Caminos de Esperanza - TALITA KUMI, de derecho civil y sin fines
                de lucro, como patrocinadora de la instalación. Los voluntarios se reúnen en reuniones
                periódicas, determinan la política de la institución social y se
                aseguran de que se cumplan los objetivos de la institución.
            </p>
        </div>
        
        
        <img src="../../../assets/images/img2.svg" align="right">
        <p class="histText">
            TALITA KUMI es la única instalación en el área que ha contratado a una trabajadora social que planifica
            específicamente el futuro cercano con las niñas que están a punto de dejar la casa. Esto significa,
            por ejemplo, buscar trabajo, alojamiento barato y una reintegración cautelosa en el entorno social.
            Además, acompaña a las niñas en los primeros pasos de esta nueva etapa de la vida y
            al mismo tiempo sigue siendo la persona de contacto directo / mediadora para mantener el contacto con TALITA
            KUMI.
        </p>
        <div class="alRit">
            <img src="../../../assets/images/img3.svg" alt=""  align="left">
            <p class="histText">
                Nuestro trabajo social en las instalaciones de TALITA KUMI en Quito con sus
                dos casas tiene como objetivo ayudar a las niñas y mujeres jóvenes que viven
                en la calle o en otras situaciones de riesgo a encontrar salidas a sus dificultades
                a través de la aceptación y ayuda personal, asesoramiento específico, orientación y
                calificación profesional. y desarrollar perspectivas para un futuro más estable
                y habitable. El trabajo se basa en la autoayuda, el largo plazo y la sostenibilidad.
            </p>
        </div>
        <img src="../../../assets/images/img4.svg" align="right">
        <p class="histText">
            Nuestra instalación TALITA KUMI cuenta con dos casas en las que se realiza el trabajo
            con los jóvenes, donde los focos son diferentes en cada caso, pero se complementan a
            la meta educativa antes mencionada en un proceso continuo. Actualmente hay 40 niñas y
            madres jóvenes viviendo en las dos casas. En los últimos años, varias mujeres jóvenes
            han completado con éxito su proceso de desarrollo y formación y han regresado a sus
            familias oa una vida independiente
        </p>
    </div>
</main>

<!-- Footer -->
<footer>
    <div class="padding footerSection">
        <img src="../../../assets/images/Logo.svg" alt="">
        <hr>
        <div class="footNav">
            <ul class="containerFoot">
                <a href="#quienesSomos">
                    <li class="foot__item">¿Quiénes somos?</li>
                    </a>
                    <a href="#historia">
                    <li class="foot__item">Nuestra Historia</li>
        
                    </a>
                    <a href="#equipo">
                    <li class="foot__item">Nuestro Equipo</li>
        
                    </a>
                    <a href="#contacto">
                        <li class="foot__item">Contactos</li>
                    </a>
            </ul>
        </div>

        <hr>
        <div class="redesSociales">
            <a href=""><img src="../../../assets/images/Instagram.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/linkdn.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/maps.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/Wpp.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/Facebook.svg" alt=""></a>
        </div>
    </div>
</footer>