<header class="homePage">
    <nav class="padding">
        <ul class="navbar">
            <a href="/">
            <li class="nav__logo"><img src="../../../assets/images/Logo.svg" alt=""></li>
            </a>
            <a href="#quienesSomos">
            <li class="nav__item">¿Quiénes somos?</li>
            </a>
            <a href="#historia">
            <li class="nav__item">Nuestra Historia</li>

            </a>
            <a href="#equipo">
            <li class="nav__item">Nuestro Equipo</li>

            </a>
            <a href="#contacto">
                <li class="nav__item">Contactos</li>
            </a>
            <li class="nav__btn">
                <button class="nav__boton" routerLink="/game">Juegos</button>
            </li>
        </ul>
    </nav>
    <div class="padre">

        <div class="padding home__descipcion">
            <h2 class="home__right home__funText">Fundación</h2>
            <h1 class="home__right home__camText">Caminos de Esperanza</h1>
            <h2 class="home__talText">
                <span class="T">T</span>
                <span class="a">a</span>
                <span class="l">l</span>
                <span class="i">i</span>
                <span class="y">t</span>
                <span class="z">a </span>
                <span class="k">K</span>
                <span class="u">u</span>
                <span class="m">m</span>
                <span class="w">i</span>
            </h2>
            <p class="home__right home__fraText">"Poco a poco un poquito se convierte en mucho"</p>
            <button class="home__btnContact">Contactos</button>
        </div>
    </div>
    <img class="home__cometa" src="../../../assets/images/Logo_Cometa.svg" alt="">
</header>
<main>
    <!-- Sección ¿Quiénes somos? -->
    <div class="titulo_section">
        <h1 id="quienesSomos" class="q_titulo">¿Quiénes somos?</h1>
        <img src="../../../assets/images/lineWaves.svg">
    </div>
    <div class="padding">
        <div class='container'>
            <div class='card'>
                <img src="../../../assets/images/fundacion.svg" alt="">
                <div class='card-body'>
                    <div class='card-text'>
                        <h3>Fundación</h3>
                        <p>Somos una fundación sin fines de lucro financiada desde Alemania.</p>
                    </div>
                </div>
            </div>
            <div class='card'>
                <img src="../../../assets/images/objetivos.svg" alt="">
                <div class='card-body'>
                    <div class='card-text'>
                        <h3>Objetivo</h3>
                        <p>Ayudar a las niñas y jóvenes en situación de calle.</p>
                    </div>
                </div>
            </div>
            <div class='card'>
                <img src="../../../assets/images/vision.svg" alt="">
                <div class='card-body'>
                    <div class='card-text'>
                        <h3>Nuestra visión</h3>
                        <p>Trabajo voluntario para ayudar a niñas con lesiones físicas y mentales. </p>
                    </div>
                </div>
            </div>
            <div class='card'>
                <img src="../../../assets/images/actualidad.svg" alt="">
                <div class='card-body'>
                    <div class='card-text'>
                        <h3>Actualidad</h3>
                        <p>Realizamos eventos con ingresos 100% a Talita Kumi</p>
                    </div>
                </div>
            </div>
            <div class='card'>
                <img src="../../../assets/images/ubicacion.svg" alt="">
                <div class='card-body'>
                    <div class='card-text'>
                        <h3>Ubicación</h3>
                        <p>Estamos ubicados en la ciudad de Quito, Ecuador.</p>
                    </div>
                </div>
            </div>
            <div class='card'>
                <img src="../../../assets/images/donacion.svg" alt="">
                <div class='card-body'>
                    <div class='card-text'>
                        <h3>Donaciones</h3>
                        <p>Nos complace que desee apoyar a nuestra asociación</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Sección Nuestra Historia -->
    <div class="historia">
        <div class="padding">
            <div class="historiaSect">
                <div class="colsTexto">
                    <h2 id="historia" class="titulo_historia">Nuestra Historia</h2>
                    <div class="centerTituloHistoria">
                        <img src="../../../assets/images/lineWaves_azules.svg">
                    </div>
                    <p class="texto_historia">
                        El nombre TALITA KUMI está tomado del Markusevanglium (Mk5,39ff) de la Biblia y significa:
                        "¡Chicas, levántense!"; nació de la preocupación para el futuro de niñas y adolescentes entre
                        los chicos de la calle, quienes, como mujeres en esta sociedad carecen de igualdad de
                        oportunidades.
                        Caminos de Esperanza – Talita Kumi es una fundación cuyo fin es brindar ayuda a niñas
                        y adolescentes en situación de riesgo, cuenta con el apoyo de fondos económicos provenientes de
                        Alemania
                    </p>
                    <button class="btn_Historia" routerLink="/historia">Aprende Más</button>
                </div>
                <div class="colsImagen">
                    <img src="../../../assets/images/Foto_ninos.svg" alt="">
                </div>
            </div>
        </div>
    </div>



    <!-- Sección Nuestro Equipo -->
    <div class="padding">
        <div class="team">
            <h2 id="equipo" class="tituloTeam">Nuestro Equipo</h2>
            <img src="../../../assets/images/lineWaves_amarrillas.svg">
            <p class="paragraphTeam">
                El trabajo social de nuestra instalación TALITA KUMI desea brindar a las niñas y madres jóvenes la
                oportunidad de reconocer y enfrentar sus problemas en un ambiente familiar y de buscar perspectivas
                nuevas, estables y a largo plazo para su vida futura junto con ellas.
            </p>
            <img src="../../../assets/images/lineWaves_amarrillas.svg">
            <br>
            <img class="team_equipo">
            <img src="">
            <img src="">
            <img src="">

        </div>
    </div>

    <!--Sección Contactos  -->

    <div class="contacto">
        <div class="padding">
            <div class="titulo_section section_contactos">
                <h1 id="contacto" class="cnt_titulo">Contáctanos</h1>
                <img src="../../../assets/images/lineWaves_rosa.svg">
                <p class="cnt_texto">
                    Déjanos tu mail y nosotros nos pondremos en contacto contigo
                </p>
                <form action="https://formspree.io/f/mdoylwqw" method="POST">
                    <input class="ctn_input frLine" name="Nombre: " placeholder="Nombre">
                    <input class="ctn_input frLine" name="Apellido: " placeholder="Apellido">
                    <br>
                    <input class="ctn_input allLine" type="email" name="Responder al Mail: " placeholder="E-mail">
                    <br>
                    <input class="ctn_input allLine" name="LLamar al: " placeholder="Número de teléfono">
                    <br>
                    <input class="ctn_input allLine" name="Motivo: "placeholder="Descripción">
                    <br>
                    <button class="btn_contactos">Suscribe</button>

                </form>

            </div>

        </div>
    </div>


</main>


<!-- Footer -->
<footer>
    <div class="padding footerSection">
        <img src="../../../assets/images/Logo.svg" alt="">
        <hr>
        <div class="footNav">
            <ul class="containerFoot">
                <li class="foot__item">¿Quiénes somos?</li>
                <li class="foot__item">Nuestra Historia</li>
                <li class="foot__item">Nuestro Equipo</li>
                <li class="foot__item">Contactos</li>
            </ul>
        </div>

        <hr>
        <div class="redesSociales">
            <a href=""><img src="../../../assets/images/Instagram.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/linkdn.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/maps.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/Wpp.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/Facebook.svg" alt=""></a>
        </div>
    </div>
</footer>