<header>
    <div class="container">
      <div class="nav">
        <a href="/">
          <h2 class="home__talText">
            <span class="T">T</span>
            <span class="a">a</span>
            <span class="l">l</span>
            <span class="i">i</span>
            <span class="y">t</span>
            <span class="z">a </span>
            <span class="k">K</span>
            <span class="u">u</span>
            <span class="m">m</span>
            <span class="w">i</span>
          </h2>
        </a>
        <nav>
          <ul>
            <li><a routerLink="/game">Suma</a></li>
            <li class="current"><a routerLink="/resta">Resta</a></li>
            <li><a routerLink="/multi">Multiplicación</a></li>
            <li><a routerLink="/divide">División</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  
  <div class="wrapper">
    <div class="equation">
      <h1 id="num1" style="color:#FE4A49"></h1>
      <h1 style="color: #2AB7CA;">-</h1>
      <h1 id="num2" style="color: #FED766">1</h1>
      <h1 style="color: #F86624">=</h1>
      <h1 style="color: gray">?</h1>
    </div>
    <div class="answer-options">
      <div class="options" style="background-color: #FE4A49;">
        <h1 id="option1">1</h1>
      </div>
      <div class="options" style="background-color: #2AB7CA;">
        <h1 id="option2">2</h1>
      </div>
      <div class="options" style="background-color: #FED766;">
        <h1 id="option3">3</h1>
      </div>
    </div>
  </div>
